.sidebar-container {
    padding: 30px 16px;
    display: flex;
    height: 100vh;
    background-color: #FFFFFF;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar-logo {
    margin-top: 8px;
    margin-bottom: 16px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.sidebar-top {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 100%;
}

.sidebar-item {
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    height: 40px;
    padding: 10px;
    color: #838A96;
}

.sidebar-item:hover {
    font-weight: 700;
    border-bottom: 1px solid #2B96FA;
}

.sidebar-item__selected {
    background: linear-gradient(#2B96FA, #63B4FF);
    color: white;
    border-top: 0;
    border-bottom: 0;
    border-radius: 5px;
}

.sidebar-bottom {
    margin-bottom: 10px;
    align-self: center;
    height: 50px;
}

.logout-button {
    font-weight: 600;
    padding: 0 20px;
    color: #282a2c;
    cursor: pointer;
}

.logout-button:hover {
    font-weight: 700;
    border-bottom: 1px solid #2B96FA;
}